/*  CSS Styles
    Assignment: Responsive Design
    Name: Winter Mahana
    Date: 6.30.2021
    Filename: responsivestyles.CSS
*/
@media screen and (min-width:480px) {
  .column {
  -ms-flex: 100%;
  flex: 100%;

}

}

@media screen and (min-width:700px) {

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(263, 21%, 25%);
  }
  li {
    float: left;
  }

  li a {
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #f1f1f1;
    color:hsl(263, 21%, 25%);
  }
p {
  margin-right: 60px;
  margin-left: 60px;
}
header {
  font-size: 25pt;
}

}

@media screen and (min-width:1250px) {
  html {
    padding-left: 150px;
    padding-right: 150px;
  }
  header {
    font-size: 30pt;
    border: 4px solid hsl(263, 21%, 25%);
    border-radius: 15%;
  }
  p {
    margin-right: 150px;
    margin-left: 150px;
  }
  footer {
    border: 4px solid hsl(263, 21%, 25%);
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-radius: 15%;
    font-weight: bold;
  }
  br{
    display: none;
  }


}
